.App {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.App h1 {
  font-size: 32px;
  text-align: center;
}

.decks {
  display: grid;
  width: 600px;
  margin: 0 auto;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  color: black;
}

.decks li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 10px;
  padding: 12px;
  padding-top: 30px;
}

.decks li button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 10px;
}

@media (max-width: 740px) {
  .decks {
    grid-template-columns: repeat(2, 1fr);
    width: 90vw;
    padding: 0;
  }
}
@media (max-width: 480px) {
  h1 {
    width: 100vw;
  }
  .decks {
    grid-template-columns: repeat(1, 1fr);
    width: 90vw;
    padding: 0;
  }

  .App form {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
}
