@font-face {
  font-family: "PoppinsHeader";
  src: url("Font/Poppins/Poppins-Bold.eot"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "PoppinsBody";
  src: url("Font/Poppins/Poppins-Medium.eot"); /* IE9 Compat Modes */
}

:root {
  font-family: "PoppinsBody", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: 16px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body.dark a,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark .user-data span,
body.dark p {
  color: rgba(255, 255, 255, 0.87);
  transition: 0.4s all;
}

body.dark hr {
  border-color: unset;
}
body.light hr {
  border-color: rgba(51, 51, 51, 0.47);
}

body.dark label {
  color: rgba(255, 255, 255, 0.87);
  transition: 0.4s all;
}

body.light label {
  color: #333;
  transition: 0.4s all;
}

body.light a,
body.light h2,
body.light h3,
body.light h4,
body.light h5,
body.light .user-data span,
body.light p {
  color: #333;
  transition: 0.4s all;
}

body.light .form-wrapper p {
  color: #333;
  transition: 0.4s all;
}

body.dark .form-wrapper p {
  color: rgba(255, 255, 255, 0.87);
  transition: 0.4s all;
}

body.light .forgot a {
  color: #333;
  transition: 0.4s all;
}
body.dark .forgot a {
  color: rgba(255, 255, 255, 0.87);
}

body.dark h1 {
  color: rgba(255, 255, 255, 0.87);
  transition: 0.4s all;
}

body.light h1 {
  color: #333;
  transition: 0.4s all;
}
body.dark .cards li {
  border: none;
  color: rgba(238, 238, 238, 0.87);
  background-color: #333;
}

body.light .cards li {
  border: none;
  color: #333;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  background-color: rgb(255, 255, 255);
}

.cards li {
  font-size: 18px;
  font-weight: 800;
}

body.dark button {
  color: rgba(238, 238, 238, 0.87);
  background-color: #333;
  transition: 0.4s all;
}
body.light button {
  color: #333;
  background-color: rgb(255, 255, 255);
  transition: 0.4s all;
}

body.light input,
body.light textarea {
  color: #333 !important;
  background-color: rgb(224, 224, 224);
  transition: 0.4s all;
}

body.dark input,
body.dark input::placeholder,
body.dark textarea,
body.dark textarea::placeholder {
  color: rgba(238, 238, 238, 0.87) !important;
  transition: 0.4s all;
}

body.dark input {
  background-color: #333 !important;
  transition: 0.4s all;
}

body.dark textarea {
  background-color: #333;
}

body.dark .Header .container {
  background-color: #333 !important;
  transition: 0.4s all;
}

body.light .Header .container {
  background-color: rgb(255, 255, 255) !important;
  transition: 0.4s all;
}

body.light .login-to-view a,
body.light .login-to-view p,
body.light .not-found {
  color: #333 !important;
}

body.dark .login-to-view a,
body.dark .login-to-view p,
body.dark .not-found {
  color: rgba(255, 255, 255, 0.87) !important;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body.dark,
body.dark .edit-wrapper textarea,
body.dark .edit-wrapper input {
  background-color: #242424 !important;
  transition: 0.4s all;
}

body.light {
  background-color: rgba(240, 240, 240, 1) !important;
  transition: 0.4s all;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:disabled {
  box-shadow: none;
  opacity: 0.5;
  cursor: not-allowed;
}

input,
textarea {
  font-family: inherit;
  box-sizing: border-box;
  margin: auto;
  height: 38px;
  font-size: 18px;
  width: 500px;
  padding-left: 10px;
  border: 1px solid transparent;
  color: rgb(39, 39, 39);
}

input::placeholder,
textarea::placeholder {
  color: rgb(39, 39, 39);
}

textarea {
  resize: none;
  padding-top: 10px;
  height: 120px;
  font-size: 18px;
}

button {
  user-select: none;
  border: none;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 8px;
}

.Header {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.14);
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 60px;
}

.Header .container {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.Header .container a,
.Header .container Link {
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form-wrapper {
  padding-top: 70px;
  height: 100vh;
  margin: auto auto;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-wrapper form input {
  margin-bottom: 15px;
}

.form-wrapper form label:first-child {
  margin-top: 10px;
}

.form-wrapper button {
  margin-top: 0;
  margin-bottom: 10px;
}

.color-btn {
  margin-right: 10px;
  outline: none;
  position: relative;
  padding: 9px 10px;
  width: 70px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2) inset;
}

.color-btn.light {
  background-color: rgb(255, 200, 97) !important;
  transition: 0.5s all;
}

.color-btn.dark {
  background-color: rgb(100, 100, 255) !important;
  transition: 0.5s all;
}

.color-outline {
  position: absolute;
  z-index: 1;
  padding: 10px;
  border-radius: 100px;
  background-color: white;
  height: 14px;
  width: 14px;
  transition: 0.5s all;
}

.color-outline.dark {
  left: 33.2px;
  transition: 0.5s all;
}

.color-outline.light {
  left: 3px;
  transition: 0.5s all;
}

.dark-icon,
.light-icon {
  opacity: 0.2;
  position: relative;
  z-index: 0;
  font-size: 20px;
  transition: 0.5s all;
}

.dark-icon,
.light-icon {
  color: rgb(0, 0, 0);
}

.light-icon {
  translate: 0.5px;
}

.dark-icon.active {
  opacity: 1;
  z-index: 2;
  color: rgb(68, 68, 255);
  transition: 0.5s all;
}

.light-icon.active {
  opacity: 1;
  z-index: 2;
  color: rgb(249, 189, 77);
  transition: 0.5s all;
}

.color-wrapper {
  width: 90vw;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.color-wrapper p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.color-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.color-btns button {
  padding: 16px 24px;
  scale: 1;
  transition: 0.2s all !important;
}

body.dark .color-btns button {
  border: 2.5px solid rgba(0, 0, 0, 0.25);
}
body.light .color-btns button {
  border: 2.5px solid rgba(0, 0, 0, 0.25);
}

body.dark .color-btns button.active {
  border: 2.5px dashed rgba(255, 255, 255, 0.87);
  scale: 1.1;
}

body.light .color-btns button.active {
  scale: 1.1;
  border: 2.5px dashed #333;
}

body.dark .red {
  background-color: rgb(238, 81, 81) !important;
}

body.light .red {
  background-color: #ff5858 !important;
}
body.light .red.dark,
body.dark .red.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(183, 59, 59) !important;
}

body.dark .yellow {
  background-color: rgb(238, 231, 93) !important;
}

body.light .yellow {
  background-color: rgb(255, 242, 0) !important;
}

body.light .yellow.dark,
body.dark .yellow.dark {
  background-color: rgb(176, 167, 0) !important;
}

body.dark .blue {
  background-color: rgb(91, 131, 231) !important;
}
body.light .blue {
  background-color: rgb(55, 145, 255) !important;
}

body.light .blue.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(44, 115, 201) !important;
}
body.dark .blue.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(66, 96, 174) !important;
}

body.dark .green {
  background-color: rgb(71, 156, 71) !important;
}

body.light .green {
  background-color: rgb(38, 167, 38) !important;
}

body.light .green.dark,
body.dark .green.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(28, 111, 28) !important;
}

body.dark .pink {
  background-color: rgb(247, 158, 173) !important;
}

body.light .pink {
  background-color: rgb(255, 176, 206) !important;
}

body.light .pink.dark,
body.dark .pink.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(164, 90, 118) !important;
}

body.dark .orange {
  background-color: rgb(255, 179, 97) !important;
}
body.light .orange {
  background-color: rgb(255, 179, 39) !important;
}

body.dark .orange.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(185, 128, 66) !important;
}

body.light .orange.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(187, 137, 45) !important;
}

body.dark .purple {
  background-color: rgb(202, 93, 202) !important;
}

body.light .purple {
  background-color: rgb(255, 93, 255) !important;
}

body.light .purple.dark,
body.dark .purple.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(163, 64, 163) !important;
}

body.light .default.dark {
  background-color: rgba(180, 180, 180, 0.87);
}

body.dark .default.dark {
  background-color: rgba(19, 19, 19, 0.87);
}

.delete-item {
  transition: 0.4s all;
}
body.dark .cards li.default,
body.dark .cards li.default .delete-item {
  color: rgba(255, 255, 255, 0.87);
}

body.dark .cards li.pink,
body.dark .cards li.pink .delete-item,
body.dark .cards li.green,
body.dark .cards li.green .delete-item,
body.dark .cards li.orange,
body.dark .cards li.orange .delete-item,
body.dark .cards li.yellow,
body.dark .cards li.yellow .delete-item,
body.dark .cards li.blue,
body.dark .cards li.blue .delete-item,
body.dark .cards li.red,
body.dark .cards li.red .delete-item,
body.dark .cards li.purple,
body.dark .cards li.purple .delete-item {
  color: #333;
}

body.light .cards li.default,
body.light .cards li.default .delete-item {
  color: #333;
}

body.light .cards li.pink,
body.light .cards li.pink .delete-item,
body.light .cards li.green,
body.light .cards li.green .delete-item,
body.light .cards li.orange,
body.light .cards li.orange .delete-item,
body.light .cards li.yellow,
body.light .cards li.yellow .delete-item,
body.light .cards li.blue,
body.light .cards li.blue .delete-item,
body.light .cards li.red,
body.light .cards li.red .delete-item,
body.light .cards li.purple,
body.light .cards li.purple .delete-item {
  color: #333;
}

body.light .cards li {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
body.dark .cards li {
  border: 1px solid transparent;
}

body.dark .edit-controls button {
  background-color: #242424 !important;
}

.cards li.active-edit,
.cards li.active-edit-card {
  padding-top: 20px;
  height: fit-content;
}

body.dark li.active-edit {
  background-color: #333 !important;
}
body.light li.active-edit {
  background-color: white !important;
}

.edit-wrapper {
  width: 100%;
}

.edit-wrapper p {
  text-align: center;
}

.edit-controls {
  display: flex;
  margin-top: 13px;
  justify-content: center;
  gap: 10px;
}

.update-deck,
.update-card {
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 10px;
  border: none;
  resize: none;
  border-radius: 10px;
  height: 80px;
  width: 100%;
  padding-right: 10px;
}

.update-card.text {
  margin-top: 12px;
  height: 170px;
}

@media (max-width: 900px) {
  .edit-wrapper .color-btns {
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
  }
}

@media (max-width: 640px) {
  .Header .container {
    padding: 0;
    width: 100vw;
  }

  .container {
    width: 100vw;
  }

  input,
  textarea {
    width: 88vw;
  }
  textarea {
    height: 150px;
  }
}

@media (max-width: 625px) {
  .edit-wrapper .color-btns {
    width: 90%;
  }
}
