:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body.dark a,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark li,
body.dark .user-data span,
body.dark p {
  color: rgba(255, 255, 255, 0.87);
  transition: 0.5s all ease-in-out;
}

body.dark label {
  color: rgba(255, 255, 255, 0.87);
  transition: 0.5s all ease-in-out;
}

body.light label {
  color: #333;
  transition: 0.5s all ease-in-out;
}

body.light a,
body.light h2,
body.light h3,
body.light h4,
body.light h5,
body.light li,
body.light .user-data span,
body.light p {
  color: #333;
  transition: 0.5s all ease-in-out;
}

body.light .form-wrapper p {
  color: #333;
  transition: 0.5s all ease-in-out;
}

body.dark .form-wrapper p {
  color: rgba(255, 255, 255, 0.87);
  transition: 0.5s all ease-in-out;
}

body.light .forgot a,
body.light .delete-item {
  color: #333 !important;
}
body.dark .forgot a,
body.dark .delete-item {
  color: rgba(255, 255, 255, 0.87) !important;
}

body.dark h1 {
  color: rgba(255, 255, 255, 0.87);
  transition: 0.5s all ease-in-out;
}

body.light h1 {
  color: #333;
  transition: 0.5s all ease-in-out;
}
body.dark .cards li {
  border: none;
  color: rgba(238, 238, 238, 0.87);
  background-color: #333;
  transition: 0.5s all ease-in-out;
}

body.light .cards li {
  border: none;
  color: #333;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  background-color: rgb(255, 255, 255);
  transition: 0.5s all ease-in-out;
}

body.dark button {
  color: rgba(238, 238, 238, 0.87) !important;
  background-color: #333 !important;
  transition: 0.5s all ease-in-out;
}
body.light button {
  color: #333;
  background-color: rgb(255, 255, 255) !important;
  transition: 0.5s all ease-in-out;
}

body.light input,
body.light textarea {
  color: #333 !important;
  background-color: rgb(224, 224, 224);
  transition: 0.5s all ease-in-out;
}

body.dark input,
body.dark input::placeholder,
body.dark textarea,
body.dark textarea::placeholder {
  color: rgba(238, 238, 238, 0.87) !important;
  transition: 0.5s all ease-in-out;
}

body.dark input,
body.dark textarea {
  background-color: #333 !important;
  transition: 0.5s all ease-in-out;
}

body.dark .Header .container {
  background-color: #333 !important;
  transition: 0.5s all ease-in-out;
}

body.light .Header .container {
  background-color: rgb(255, 255, 255) !important;
  transition: 0.5s all ease-in-out;
}

body.light .login-to-view a,
body.light .login-to-view p,
body.light .not-found {
  color: #333 !important;
}

body.dark .login-to-view a,
body.dark .login-to-view p,
body.dark .not-found {
  color: rgba(255, 255, 255, 0.87) !important;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body.dark {
  background-color: #242424 !important;
  transition: 0.5s all ease-in-out;
}

body.light {
  background-color: rgba(240, 240, 240, 0.37) !important;
  transition: 0.5s all ease-in-out;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  margin: auto;
  height: 38px;
  font-size: 18px;
  width: 450px;
  text-indent: 10px;
  border: 1px solid transparent;
  color: rgb(39, 39, 39);
}

input::placeholder {
  color: rgb(39, 39, 39);
}

button {
  user-select: none;
  border: none;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 8px;
}

.Header {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.14);
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 60px;
}

.Header .container {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.Header .container a,
.Header .container Link {
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form-wrapper {
  padding-top: 70px;
  height: 100vh;
  margin: auto auto;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-wrapper form input {
  margin-bottom: 15px;
}

.form-wrapper form label:first-child {
  margin-top: 10px;
}

.form-wrapper button {
  margin-top: 0;
  margin-bottom: 10px;
}

.color-btn {
  margin-right: 10px;
  outline: none;
  position: relative;
  padding: 9px 10px;
  width: 70px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2) inset;
}

.color-btn.light {
  background-color: rgb(255, 200, 97) !important;
  transition: 0.5s all;
}

.color-btn.dark {
  background-color: rgb(100, 100, 255) !important;
  transition: 0.5s all;
}

.color-outline {
  position: absolute;
  z-index: 1;
  padding: 10px;
  border-radius: 100px;
  background-color: white;
  height: 14px;
  width: 14px;
  transition: 0.5s all;
}

.color-outline.dark {
  left: 33.2px;
  transition: 0.5s all;
}

.color-outline.light {
  left: 3px;
  transition: 0.5s all;
}

.dark-icon,
.light-icon {
  opacity: 0.2;
  position: relative;
  z-index: 0;
  font-size: 20px;
  transition: 0.5s all;
}

.dark-icon,
.light-icon {
  color: rgb(0, 0, 0);
}

.light-icon {
  translate: 0.3px;
}

.dark-icon.active {
  opacity: 1;
  z-index: 2;
  color: rgb(68, 68, 255);
  transition: 0.5s all;
}

.light-icon.active {
  opacity: 1;
  z-index: 2;
  color: rgb(249, 189, 77);
  transition: 0.5s all;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 640px) {
  .Header .container {
    padding: 0;
    width: 100vw;
  }

  .container {
    width: 100vw;
  }

  input {
    width: 88vw;
  }
}
