.signup-container {
  padding-top: 70px;
  height: 100vh;
  margin: auto auto;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup-container form input {
  margin-bottom: 15px;
}

.signup-container form label:first-child {
  margin-top: 10px;
}

.signup-container button {
  margin: 10px 0;
}
